.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border: 1px solid #e2e8f0;
  padding-right: 28px;
  padding-left: 12px;
}

.navbar-logo img {
  height: 40px;
}

div ul li {
  padding: 6px !important;
}

div ul li .active {
  color: #3b5ac2;
  font-weight: 600;
}

.nav-item {
  cursor: pointer;
  margin-left: 18px !important;
}

.nav-item i {
  font-size: 20px;
}
