.custom-card {
  max-width: 672px;
  padding: 32px;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1a2856;
  margin-bottom: 20px;
}

.atividade-group {
  margin-bottom: 32px;
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1a2856;
}

.item-list {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}

.item-list hr {
  all: unset;
  margin: 12px 0;
  display: block;
  height: 1px;
  background-color: #e2e8f0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn i {
  padding: 5.75px;
  color: #e95f5f;
  font-size: 12.5px;
  border-radius: 4px;
}

.remove-btn i:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.custom-input {
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 8px 12px;
  height: 40px;
}

.custom-input:focus {
  border: 1px solid #3b5ac2;
  box-shadow: none;
}

div.custom-input-group:has(input:focus) label {
  color: #3b5ac2;
}

.error-message {
  gap: 4px;
  margin-top: 8px;
  color: #d71d1d;
}

.error-message p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  vertical-align: middle;
}

div.custom-input-group:has(.error-message) label {
  color: #d71d1d;
}
