.menu-certificado {
  max-width: 800px;
}

.btn-voltar {
  gap: 6px;
}

.btn-voltar p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.btn-voltar i {
  font-size: 20px;
  color: #64748b;
}

.certificado {
  width: 800px;
  height: 550px;
  margin-top: 32px;
  background-image: url('../../../../public/certificate/certificate_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  position: relative;
}

.conteudo-certificado {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: #fff;
  border-radius: 8px;
}

.conteudo-certificado p {
  margin: 0;
}

.icone-medalha {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}

.info-certificado {
  margin: 64px 40px 48px 40px;
  gap: 20px;
}

div.info-certificado div.titulo-certificado h1 {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 10%;
  color: #1a2856;
}

div.info-certificado div.titulo-certificado p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 10%;
  text-align: center;
  margin: 0;
  color: #121621;
}

p.nome-aluno {
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  color: #3b5ac2;
  text-align: center;
}

div.lista-atividade-grupo {
  width: 413.7px;
  color: #121621;
}

div.lista-atividade-grupo p.lista-atividade-titulo {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 8px !important;
}

.lista-atividade {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
}

.data-emissao {
  color: #121621;
  font-weight: 700;
  font-size: 11.2px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
}

div.conteudo-certificado img.img-assinatura {
  position: absolute;
  right: 40px;
  bottom: 24px;
  width: 64px;
  height: 64px;
}
